*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: Roboto;
}


.heroContainer {
  position: relative;
  width: 100%;
  height: 40rem;
  /* overflow: hidden; */
}

.contHeight {
  width: 100%;
  height: 40rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slide {
  position: absolute;
  inset: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.slide.active {
  opacity: 1;
}

.content {
  width: 40%;
  height: 20rem;
}

.title {
  font-size: 4rem;
  margin-bottom: 1rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  text-align: center;
  color: white;
}

.description {
  font-size: 2rem;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  text-align: center;
  color: white;
}

@media (max-width: 768px) {
  .title {
    font-size: 2rem;
  }

  .description {
    font-size: 1rem;
  }
}

@media (max-width: 600px) {
  .heroContainer {
    height: 30rem;
  }

  .title {
    font-size: 1.5rem;
  }

  .description {
    font-size: 0.875rem;
  }

  .content{
    width:17rem ;
    width: 70%;
  }
}
